<ion-header [translucent]="true" collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Enter to win</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openRulesModal()"> Rules </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-content">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-list-header>Contact Info</ion-list-header>
    <ion-list inset="true">
      <ion-item>
        <ion-label>First Name</ion-label>
        <ion-input placeholder="John" formControlName="firstname"></ion-input>
        <ion-text
          slot="error"
          *ngIf="submitted && f.firstname.errors?.required"
        >
          First name is required
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Last Name</ion-label>
        <ion-input placeholder="Doe" formControlName="lastname"></ion-input>
        <ion-text slot="error" *ngIf="submitted && f.lastname.errors?.required">
          Last name is required
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Work Email</ion-label>
        <ion-input
          type="email"
          placeholder="jdoe@ionic.io"
          formControlName="email"
        ></ion-input>
        <ion-text slot="error" *ngIf="submitted && f.email.errors?.required">
          Email is required
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Job Function</ion-label>
        <ion-select formControlName="job" interface="popover">
          <ion-select-option
            *ngFor="let job of hubspotService.jobFunctions"
            [value]="job"
          >
            {{ job }}
          </ion-select-option>
        </ion-select>
        <ion-text slot="error" *ngIf="submitted && f.job.errors?.required">
          Email is required
        </ion-text>
      </ion-item>
    </ion-list>

    <ion-list-header>Preferences</ion-list-header>
    <ion-list [inset]="true">
      <ion-item>
        <ion-label>T-shirt Size</ion-label>
        <ion-select formControlName="tshirt" interface="popover">
          <ion-select-option
            *ngFor="let size of hubspotService.tshirtSizes"
            [value]="size"
          >
            {{ size }}
          </ion-select-option>
        </ion-select>
        <ion-text slot="error" *ngIf="submitted && f.tshirt.errors?.required">
          T-shirt size is required
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Topic(s) of Interest</ion-label>
        <ion-select formControlName="topics" multiple="true">
          <ion-select-option
            *ngFor="let topic of hubspotService.topicsOfInterest"
            [value]="topic.value"
          >
            {{ topic.name }}
          </ion-select-option>
        </ion-select>
        <ion-text slot="error" *ngIf="submitted && f.topics.errors?.required">
          Please choose at least one topic
        </ion-text>
      </ion-item>
    </ion-list>

    <ion-list-header>Mailing Address</ion-list-header>
    <ion-list [inset]="true">
      <ion-item>
        <ion-label>Street</ion-label>
        <ion-input
          placeholder="123 Any Street"
          formControlName="address"
        ></ion-input>
        <ion-text slot="error" *ngIf="submitted && f.address.errors?.required">
          Street is required
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>City</ion-label>
        <ion-input placeholder="Boston" formControlName="city"></ion-input>
        <ion-text slot="error" *ngIf="submitted && f.city.errors?.required">
          City is required
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Zip</ion-label>
        <ion-input placeholder="02215" formControlName="zip"></ion-input>
        <ion-text slot="error" *ngIf="submitted && f.zip.errors?.required">
          Zip is required
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Country</ion-label>
        <ion-select formControlName="country" interface="popover">
          <ion-select-option *ngFor="let c of countries" [value]="c.name">
            {{ c.name }}
          </ion-select-option>
        </ion-select>
        <ion-text slot="error" *ngIf="submitted && f.country.errors?.required">
          Country is required
        </ion-text>
      </ion-item>
      <!-- <ion-item [hidden]="f.country.value !== 'United States'"> -->
      <ion-item>
        <ion-label>State</ion-label>
        <ion-select formControlName="state" interface="popover">
          <ion-select-option
            *ngFor="let st of f.country.value | states"
            [value]="st.name"
          >
            {{ st.name }}
          </ion-select-option>
        </ion-select>
        <ion-text slot="error" *ngIf="submitted && f.state.errors?.required">
          State is required
        </ion-text>
      </ion-item>
    </ion-list>

    <ion-button
      (click)="submit()"
      expand="block"
      class="submit-btn"
      [disabled]="form.invalid"
    >
      Submit
    </ion-button>
  </form>

  <div class="privacy">
    <ion-text color="medium">
      I understand that by submitting this form, I agree to Ionic's
      <a (click)="openPrivacyPolicy($event)">privacy policy</a>. This includes
      receiving marketing communications from Ionic and the event sponsors. I
      understand that I can unsubscribe from receiving these marketing
      communications at any time.
    </ion-text>
  </div>
</ion-content>
