ion-list-header {
  margin: 0 32px;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #7d8894;
}

ion-list-header.ios {
  padding: 0 0 8px 0;
}

ion-list.list-inset {
  margin: 0 20px 32px 20px;
}

// ion-list.list-inset.md {
//   padding-top: 0;
//   padding-bottom: 0;
//   border-radius: 12px;
//   border-width: 0;
// }

/**
 * This might be an Ionic bug
 */
ion-item {
  --padding-start: 16px !important;
  // --border-color: var(--ion-color-step-200);
}

ion-select-option {
  ion-label {
    white-space: normal !important;
  }
}

ion-text {
  padding: 8px 0;
}

.submit-btn {
  margin: 0 20px;
  --box-shadow: none;
  font-weight: 700;

  // &.button-disabled {
  //   --background: #dee3ea;
  //   --color: #b4bcc6;
  //   --opacity: 1;
  // }
}

.privacy {
  margin: 20px;

  a {
    cursor: pointer;
  }
}
