ion-card {
  margin: 20px;
  padding: 20px;
  border-radius: 16px;

  ion-button {
    font-weight: 700;
    box-shadow: 0px 0px 1px rgba(1, 5, 14, 0.08),
      0px 4px 8px rgba(1, 5, 14, 0.06);
  }

  .swag {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 8px;
  }

  .welcome {
    padding: 0;

    ion-card-header {
      padding: 0;

      ion-card-title {
        margin: 0 0 4px 0;
        font-weight: 700;
        font-size: 26px;
        letter-spacing: -0.01em;
      }

      ion-card-subtitle {
        margin: 0 0 24px 0;
        text-transform: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.01em;
        color: var(--ion-color-session-speaker-text);
      }
    }
  }
}
