<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title> Swag </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Swag</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-row>
      <ion-col size="12" sizeSm="6" sizeLg="5" class="swag">
        <img src="assets/swag.png" />
      </ion-col>
      <ion-col size="12" sizeSm="6" sizeLg="7" class="welcome">
        <ion-card-header>
          <ion-card-title>Ioniconf 2022 Swag</ion-card-title>
          <ion-card-subtitle>
            Conference attendees, enter your info to request an ioniconf 2022
            sticker pack. From the sticker submissions, a few will be randomly
            selected to receive additional Ionic swag!
          </ion-card-subtitle>
        </ion-card-header>

        <ion-button
          class="enter-btn"
          expand="block"
          color="primary"
          (click)="openSwagModal()"
        >
          Enter to win
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
