@use "sass:math";
$card-margin: 16px;

ion-card {
  border-radius: 16px;
  margin: 0 0 #{$card-margin} 0;
  padding: 20px;
  background: var(--ion-background-color);
  box-shadow: 0px 0px 1px rgba(1, 5, 14, 0.08), 0px 4px 8px rgba(1, 5, 14, 0.06);

  ion-card-header {
    padding: 0px;

    ion-card-title {
      margin: 20px 0 6px 0;
    }

    ion-card-subtitle {
      margin: 0 0 6px 0;
      text-transform: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.01em;
      color: var(--ion-color-session-speaker-text);
    }
  }

  ion-card-content {
    padding: 0;
    font-size: 12px;
    color: var(--ion-color-session-speaker-text);
  }
}
