.welcome-img {
  width: 100%;
  object-fit: cover;
  // background-color: #444;
}

ion-grid {
  padding: 0;
}

.built-with-list {
  margin: 0;
  border-radius: 12px;

  ion-item ion-label {
    font-size: 16px;
    font-weight: 400;
  }

  ion-item {
    --border-color: var(--ion-color-step-200);
  }
}
