<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Speakers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Speakers</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding grid">
    <ng-container *ngIf="speakersFacade.speakersLoaded$ | async; else loading">
      <app-speaker-card
        *ngFor="let item of speakersFacade.speakers$ | async; trackBy: trackItems"
        [id]="item.id"
        [button]="true"
      ></app-speaker-card>
    </ng-container>
    <ng-template #loading>
      <ion-spinner></ion-spinner>
    </ng-template>
  </div>
</ion-content>
