ion-content {
  --padding-bottom: var(--ion-safe-area-bottom);
}

.details {
  margin: 20px;
  margin: 0 20px;

  h2 {
    margin-top: 0;
    margin: 32px 0 12px 0;
  }

  ion-text {
    color: var(--ion-color-carbon);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    white-space: pre-wrap;
  }
}

#close-button {
  position: fixed;
  top: max(var(--ion-safe-area-top), 16px);
  right: 8px;
}

.social-btns {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  margin: 0 0 12px 0;

  .connect-button {
    width: 72px;
    height: 56px;
    --background: #f1edff;
    --box-shadow: none;

    ion-icon {
      height: 24px;
      width: 100%;
    }
  }
}
