@use "sass:math";

:host {
  --outline-color: var(--ion-color-page-bkg);
}

:host-context(ion-card) {
  --outline-color: var(--ion-background-color);
}

.container {
  // display: flex;
  // align-items: left;
  // width: fit-content;
  display: inline-flex;
  flex-direction: row-reverse;
}

ion-avatar {
  width: 100%;
  height: 100%;

  /**
   * Do not use outline here because
   * WebKit does not respect border
   * radius when using outline.
   */
  box-shadow: 0px 0px 0px 4px var(--outline-color);
}

ion-avatar:not(:last-child) {
  margin-left: -12px;
}
